.write {
  width: 33%;
  margin: 0 auto;
  .current-user {
    font-weight: bold;
  }
  .card {
    .card-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media screen and (max-width: 900px) {
    width: 310px;
  }
}
