.write {
  width: 33%;
  margin: 0 auto; }
  .write .current-user {
    font-weight: bold; }
  .write .card .card-action {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media screen and (max-width: 900px) {
    .write {
      width: 310px; } }
