.wrapper {
    margin-top: 20px;
    position: relative;
    .preloader-wrapper {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      &.active {
        animation: initial;
      }
    }
}
