.wrapper {
  margin-top: 20px;
  position: relative; }
  .wrapper .preloader-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); }
    .wrapper .preloader-wrapper.active {
      animation: initial; }
